<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.tourmate.mapper.TourMapper">

	<select id="selectList" resultType="com.ssafy.tourmate.dto.TourDto">
	
		SELECT 
			CONTENT_ID as contentID, FIRST_IMAGE as imageURL, TITLE, ADDR1, ADDR2, LATITUDE, LONGITUDE, CNT_TB.CNT as likeCount
		FROM
			ATTRACTION_INFO AS A
				LEFT JOIN (SELECT COUNT(CONTENT_ID) AS CNT, CONTENT_ID AS CI
							FROM USER_ATTRACTION_LIKE
							GROUP BY CONTENT_ID) AS CNT_TB
				ON A.CONTENT_ID = CNT_TB.CI
				
		<if test="sidoCode > 0 or gugunCode > 0 or keyword != null ">
			WHERE
		</if>		
		<if test="sidoCode > 0">
			SIDO_CODE = #{sidoCode}
		</if>
		<if test="gugunCode > 0">
			<if test="sidoCode > 0">
				AND
			</if>
			GUGUN_CODE = #{gugunCode}
		</if>
		<if test="keyword != null">
			<if test="sidoCode > 0 or gugunCode > 0">
				AND
			</if>
			<bind name="pattern" value="'%' + keyword + '%'" />
			TITLE LIKE #{pattern}
		</if>
		ORDER BY likeCount DESC
	</select>
	
	<select id="selectDetail" resultType="com.ssafy.tourmate.dto.TourDto">
		
		SELECT 
			CONTENT_ID as contentID, FIRST_IMAGE as imageURL, TITLE, ADDR1, ADDR2, LATITUDE, LONGITUDE, CNT_TB.CNT as likeCount
		FROM
			ATTRACTION_INFO AS A
				LEFT JOIN (SELECT COUNT(CONTENT_ID) AS CNT, CONTENT_ID AS CI
							FROM USER_ATTRACTION_LIKE
							GROUP BY CONTENT_ID) AS CNT_TB
				ON A.CONTENT_ID = CNT_TB.CI
		WHERE A.CONTENT_ID = #{contentId}

	</select>
	
	<select id="selectSidoList" resultType="com.ssafy.tourmate.dto.SidoDto">
	
		SELECT
			SIDO_CODE AS sidoCode, SIDO_NAME AS sidoName
		FROM
			SIDO
	
	</select>
	
	<select id="selectGugunList" resultType="com.ssafy.tourmate.dto.GugunDto">
		
		SELECT 
			GUGUN_CODE AS gugunCode, GUGUN_NAME AS gugunName
		FROM
			GUGUN
		WHERE
			SIDO_CODE = #{sidoCode}
	
	</select>
	
	<select id="isLiked" resultType="int">
	
		SELECT 
			EXISTS(
				SELECT 
					1
				FROM
					USER_ATTRACTION_LIKE
				WHERE
					CONTENT_ID = #{contentId} AND USER_ID = #{userId}
			) AS CNT
	
	</select>
	
	<insert id="createLike">
	
		INSERT INTO USER_ATTRACTION_LIKE (USER_ID, CONTENT_ID)
		VALUES (#{userId}, #{contentId})
	
	</insert>
	
	<delete id="deleteLike">
	
		DELETE FROM USER_ATTRACTION_LIKE
		WHERE CONTENT_ID = ##{contentId} AND USER_ID LIKE #{userId}
	
	</delete>

</mapper>